ion-tab-bar {
    --background: var(--shade);
    --border: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 3px 15px;
}
ion-tab-button {
    --color: var(--secondary);
    --color-focused: var(--primary);
    --color-selected: var(--primary);
    --ripple-color: var(--primary);
}