ion-toolbar {
    --background: var(--shade);
}
img {
    max-height: 2.8rem;
    padding-top: 0.5rem;
}
ion-menu-button {
  --color: var(--primary);
}
ion-menu::part(backdrop) {
  background-color: black;
}

ion-menu::part(container) {
  border-radius: 20px 0 0 20px;
  box-shadow: 4px 0px 16px black;
}

ion-menu>ion-header>ion-toolbar {
  --background: var(--primary);
}
ion-menu>ion-content {
  --background: var(--shade);
}
ion-menu>ion-content>ion-list {
  margin: 0;
  padding: 0;
}
ion-button {
  --background: transparent;
  --background-hover: transparent;
  --box-shadow: none;
  font-size: medium;
}
.closeSession {
  margin: 0 0 1rem -1rem;
  --color: red;
}
ion-icon {
  margin-right: 0.5rem;
}
.profile-container {
  width: 100%;
  padding: 0.2rem;
}
.editProfile {
  margin: 0 0 1rem -1rem;
  --color: var(--primary);
}
ion-modal ion-toolbar {
  --background: var(--primary);
  --color: white;
}
ion-modal ion-toolbar ion-button {
  --color: white;
}
.cancelBtn {
  --background: #ff6f69;
}
.confirmBtn {
  --background: #84d08e;
}
