<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Listado de Paquetes</h1>
  <p class="info">Presione el pedido para ver los detalles</p>
  <ion-card *ngFor="let p of paquetes" [routerLink]="['/paquetes',p.id]">
    <ion-card-header>
      <ion-card-subtitle color="{{(p.entregado) ? 'success' : 'danger'}}">
        {{(p.entregado) ? 'Entregado' : 'No entregado'}}
      </ion-card-subtitle>
      <ion-card-title>{{p.etiqueta}}</ion-card-title>
      <ion-card-subtitle>Paquete #{{'0'.repeat(4 - p.id.toString().length) + p.id}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{p.descripcion}}
    </ion-card-content>
  </ion-card>
</ion-content>