<ion-content [fullscreen]="true" class="ion-padding">
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button [routerLink]="['/new-paquete']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <h1>Listado de Paquetes</h1>
  <ion-searchbar (ionInput)="handleInput($event)" placeholder="Buscar por etiqueta o ID"
    class="searchbar"></ion-searchbar>
  <div class="checkBox-container">
    <ion-checkbox labelPlacement="end" (ionChange)="checkboxClick($event)" checked="true" #all>Todo</ion-checkbox>
    <ion-checkbox labelPlacement="end" (ionChange)="checkboxClick($event)" #delivered>Entregados</ion-checkbox>
    <ion-checkbox labelPlacement="end" (ionChange)="checkboxClick($event)" #undelivered>Por Entregar</ion-checkbox>
  </div>
  <p class="info">Presione el paquete para ver sus detalles</p>
  <ion-card *ngFor="let p of results" [routerLink]="['/paquetes',p.id]">
    <ion-card-header>
      <ion-card-subtitle color="{{(p.entregado) ? 'success' : 'danger'}}">
        {{(p.entregado) ? 'Entregado' : 'No entregado'}}
      </ion-card-subtitle>
      <ion-card-title>{{p.etiqueta}}</ion-card-title>
      <ion-card-subtitle>Paquete #{{'0'.repeat(4 - p.id.toString().length) + p.id}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      {{p.descripcion}}
    </ion-card-content>
  </ion-card>
</ion-content>