<ion-content [fullscreen]="true" class="ion-padding">
  <h1>Hola, Gian</h1>
  <p class="info">Últimos movimientos en Konamiya Express...</p>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle color="danger">No Entregado</ion-card-subtitle>
      <ion-card-title>Paquete #0001</ion-card-title>
      <ion-card-subtitle>Último Pedido</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Paquete rectangular de tamaño mediano, envuelto en papel de regalo de colores brillantes. Contiene una tarjeta de
      cumpleaños, una caja de chocolates, y un peluche de oso.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>John Doe</ion-card-title>
      <ion-card-subtitle>Empleado con más entregas</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Entregas realizadas en total: 942
    </ion-card-content>
  </ion-card>

</ion-content>